.grid-container{
    background-color: blueviolet;
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 2px 3px;
    grid-template-rows: 2fr 2fr 2fr;
    
    
    
}

.grid-item{
    background-color: rebeccapurple;
    color: whitesmoke;
    padding: 10px;
    border: yellow 2px solid;
    
}